*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.formm  {
padding-top: 20px;
width: 250px;
}
label{
    margin-top: 5px;
}

input{
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
button{
    width: 100%;
    padding: 5px;
    background-color: blue;
    color: white;
    margin-bottom: 5px;
}
.forget{
    color: blue;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(113, 113, 113);
}

.container{
    display: flex;
    align-items: center;
    padding-top: 50px;
    /* justify-content: center; */
    background: rgb(255, 255, 255);
    width: 500px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    height: 350px;
    flex-direction: column;
}

.head{
    text-align: center;
}

.one{
    font-size: 30px;
}
.two{
    font-size: 15px;
    font-weight: 100;
}

.boxes{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;

}