*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(113, 113, 113);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    width: 500px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    height: 350px;
    flex-direction: column;
}

.head{
    
}

.boxes{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;

}